build/
cmake-build-debug/
cmake-build-release/
bin/
obj/

.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

*.o
*.obj
*.a
*.lib
*.so
*.dll
*.dylib

*.exe
neural_network

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
